.loading {
	z-index: 9999;
	background-color: #0002;
	cursor: wait;
	fa-icon {
		@keyframes loading-spinner {
			from {
				transform: rotate(0deg);
			}
			to {
				transform: rotate(360deg);
			}
		}
		animation: loading-spinner;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}
}
.content {
	height: calc(100% - 56px);
}
