<div
	class="loading position-fixed w-100 h-100 align-items-center justify-content-center text-white"
	[ngStyle]="{display: loading ? 'flex' : 'none'}"
>
	<fa-icon [icon]="faSpinner" [size]="'4x'"></fa-icon>
</div>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
	<a class="navbar-brand mb-0 h1" [routerLink]="'/'">ZeosApp</a>
	<div class="navbar-collapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" [routerLink]="'/packs'">Packs</a>
			</li>
		</ul>
		<a class="nav-link" [routerLink]="'/register'" *ngIf="!user">Register</a>
		<a class="nav-link" [routerLink]="'/login'" *ngIf="!user">Login</a>
		<span class="navbar-text" *ngIf="user">Welcome {{ user.email }}</span>
		<a class="btn btn-outline-secondary ml-2" [routerLink]="'/basket'">
			Basket<span class="badge badge-danger ml-2" *ngIf="basketCount">{{ basketCount }}</span>
		</a>
		<a class="btn btn-outline-primary ml-2" [routerLink]="'/checkout'">Checkout</a>
	</div>
</nav>
<div class="content w-100">
	<ng-content></ng-content>
</div>
